body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

:root {
  --text-color: #333;
  --background-color: #fff;
  --highlight-color: #007bff;
}

.logo-link {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 800;
  color: #333;
  letter-spacing: 0.54px;
}
.studio {
  text-decoration: none;
  color: royalblue;
  font-weight: bold;
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
}
.portfolio {
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
}

.contact {
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  text-align: left;
  font-family: "Roboto", Arial, sans-serif;
}
.social_link {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
}

.email {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
}
.contact-number {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
}
.social__link {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
}
.main-content-area {
  background-color: #2e2f42;
}
.content_area {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
}
.button {
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid royalblue;
  cursor: pointer;
}

.objective {
  text-align: center;
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
}
.images {
  list-style: none;
}
.team {
  text-align: center;
  list-style: none;
}
h1,
h2,
h3 {
  font-size: 24px;
  font-weight: bold;
  list-style: none;
}

.style-footer {
  background-color: #2e2f42;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
}
