body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

:root {
  --text-color: #333;
  --background-color: #fff;
  --highlight-color: #007bff;
}

.logo-link,
nav ul a,
.contact-info a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}

button,
a:hover,
a:focus {
  color: var(--highlight-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  font-weight: bold;
}
